*{
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}
.container,
.container-fluid,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  margin-right: 2% !important;
  margin-left: 2% !important;
  background-color: transparent;
}

nav{
    height: 100px;
    
}

.navbar{
    height: auto;
}

.navbar-dark .navbar-nav .nav-link {
    font-weight: 600;
    color: white;
    font-family: 'Raleway', sans-serif;
}

.nav_title{
    color: white !important;
    font-family: 'Anton', sans-serif;
    font-size: 3rem;
    letter-spacing: 2px;
    margin: auto;
}



/*Home Page*/
.home{
    background-color: #EBEBEB;
}

.home h2{
    font-family: 'Teko', sans-serif;
    font-size: 4rem;
}

.banner .row{
    margin: 0;
    padding: 0;
}

.banner .col{
    margin: 0;
    padding: 0;
    text-align: center;
}
.banner .col h1{
    font-weight: 500;
    font-size: 3rem;
    font-family: 'Anton', sans-serif;
}

.banner .col p{
    margin-top: 4%;
    font-weight: 550;
    font-size: 1.7rem;
    font-family: 'Shadows Into Light', cursive;
}

.banner .col a{
    color: #48768e;
}

.banner .col i{
    padding: 3%;
    padding-top: 5px;
    font-size: 2rem;
}
.banner .col section a{
    text-decoration: none;
    color: #343a40;
}

.banner .col section a:hover{
    color: #48768e;
}

.banner_logo{
    width: 75% !important;
    margin-top: 4%;
    margin-bottom: -4%;
}

.banner_image{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url(/images/home_image.jpg);
    background-size: cover;
    background-position-y: center;
}
.actus{
    padding: 35px;
    margin-top: 4%;
}

.actus section{
    height: 40rem;
}

.description{
    background-color: #435560;
    color: #EBEAD9;
    padding: 35px;
    padding-top: 70px;
    padding-bottom: 115px;
    margin-top: 5%;
}

.description p{
    font-family: 'Ubuntu', sans-serif;
    margin-top: 5%;
    font-size: 20px;
}

.mannette{
    position: relative;
    width: 30%;
    bottom: 130px;
    float: right;
}

.nos_stream{
    padding: 40px;
    margin-top: 4%;
}
.nos_stream .col{
    padding-top: 40px;
    padding-left: 0;
}

.partie_faq{
    background-color: #D2D1BD;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 3%;
}

.faqs-container {
	margin: 0 auto;
	max-width: 600px;
}

.faq {
	border: 2px solid #435560;
    border-radius: 10px;
    padding: 30px;
    position: relative;
    overflow: hidden;
    margin: 20px 0;
    transition: 0.3s ease;
}

.faq.active {
	background-color: #e4e4e4;
	box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
}

.faq.active::after, .faq.active::before {
	color: #2ecc71;
	content: '\f075';
	font-family: 'Font Awesome 5 Free';
	font-size: 7rem;
	position: absolute;
	opacity: 0.2;
	top: 20px;
	left: 20px;
	z-index: 0;
}

.faq.active::before {
	color: #3498db;
	top: -10px;
	left: -30px;
	transform: rotateY(180deg);
}

.faq-title {
	margin: 0 35px 0 0;
}

.faq-text {
	display: none;
	margin: 30px 0 0;
}

.faq.active .faq-text {
	display: block;
}

.faq-toggle {
	background-color: transparent;
	border: none;
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	padding: 0;
	position: absolute;
	top: 30px;
	right: 30px;
	height: 30px;
	width: 30px;
}

.faq-toggle:focus {
	outline: none;
}

.faq.active .faq-toggle {
	background-color: #9FA4A8;
}

.faq-toggle .fa-times {
	display: none;
}

.faq.active .faq-toggle .fa-times {
	display: block;
}

.faq-toggle .fa-chevron-down {
	color: #83888E;
}

.faq.active .faq-toggle .fa-chevron-down {
	display: none;
}


.floating-btn {
	border-radius: 26.5px;
	background-color: #001F61;
	border: 1px solid #001F61;
	box-shadow: 0 16px 22px -17px #03153B;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	line-height: 20px;
	padding: 12px 20px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
}

.floating-btn:hover {
	background-color: #ffffff;
	color: #001F61;
}

.floating-btn:focus {
	outline: none;
}

.floating-text {
	background-color: #001F61;
	border-radius: 10px 10px 0 0;
	color: #fff;
	font-family: 'Muli';
	padding: 7px 15px;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	z-index: 998;
}

.floating-text a {
	color: #FF7500;
	text-decoration: none;
}

@media screen and (max-width: 480px) {

	.social-panel-container.visible {
		transform: translateX(0px);
	}
	
	.floating-btn {
		right: 10px;
	}
}

/* ASSOCIATION */
.association_banner{
    width: 100%;
    height: 90vh;
    background-repeat: no-repeat;
    background-image: url(/images/association_banner.jpg);
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
}

.association_banner h2{
    font-family: 'Anton';
    font-size: 6rem;
    color: aliceblue;
    position: relative;
    top: 40vh;
}
.association_banner h3{
    font-family: 'Anton';
    font-size: 2rem;
    color: aliceblue;
    position: relative;
    top: 40vh;
}

/*Responsivity*/

@media (max-width: 768px) {
    .banner .col h1{
        font-size: 3rem;
    }

    .banner .col p{
        font-size: 1.5rem;
    }

    .banner .col i{
        padding: 3%;
        font-size: 1.5rem;
    }

    .home h2{
        font-size: 3rem;
    }
    .description p{
        font-size: 14px;
    }

    .association_banner h2{
        font-size: 4rem;
    }
    .association_banner h3{
        font-size: 1rem;
    }

}

@media (max-width: 1024px) {
    
}

@media (max-width: 425px) {
    .banner .col h1{
        font-size: 2.2rem;
    }

    .banner .col p{
        font-size: 1.2rem;
    }

    #banner_image{
        display: none;
    }

    .home h2{
        font-size: 2rem;
    }
    .description p{
        font-size: 12px;
    }
    .mannette{
        bottom: 100px;
    }
    
}

/*Footer*/
.site-footer
{
    background-color: #28343B;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #d2d1bd;
}
.site-footer hr
{
    border-top-color: #bbb;
    opacity: 0.5;
    margin: 22px;
}
.site-footer hr.small
{
    margin:20px 0
}
.site-footer h6
{
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 10px;
    letter-spacing: 2px;
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}

.site-footer img{
    width: 120px;
    margin: auto;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#48768e;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#48768e
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
